@charset "utf-8";
/* CSS Document */
.slides{
	width:100%;height:700px;position:relative;overflow:hidden;
}
.slideInner{
	height:700px;position:relative;left:0;margin-left:0;
}
.slideInner a{
	display:block;height:700px;background-size:cover;background-position:center center;position:relative;text-align:center;z-index:1;
}
.slideInner a div.img1{
	width:1070px;position:absolute;left:50%;margin-left:-535px;
}
.slideInner a div.img2{
	width:1070px;position:absolute;top:557px;left:50%;margin-left:-535px;
}
.slideInner .slide3 .img2{
	top:200px;
}
.slideInner .slide3 .img3{
	width:181px;height:286px;position:absolute;left:50%;margin-left:330px;top:330px;
}
.nav{
	width:1200px;position:relative;left:50%;margin-left:-600px;display:none;
}
.nav a{
	display:block;width:41px;height:119px;opacity:.2;z-index:9;
}
.nav a.prev{
	position:absolute;left:0;top:-350px;margin-top:-58px;background:url(../images/ban_pre.png) no-repeat;
}
.nav a.next{
	position:absolute;right:0;top:-350px;margin-top:-58px;background:url(../images/ban_next.png) no-repeat;
}
.navListBox{
	position:absolute;left:50%;top:675px;z-index:99;
}
.navListBox li{
	width:12px;height:12px;float:left;margin-left:5px;border-radius:50%;overflow:hidden;
}
.navListBox li:first-child{
	margin-left:0;
}
.navListBox li a{
	display:block;width:100%;height:100%;border-radius:50%;background-color:#fff;box-shadow:0 0 5px #666 inset;
}
.navListBox li a.active{
	background-color:#55ddff;
}
/* 轮播 */
.top_01 {
  background-color: rgb(23, 32, 41);
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  z-index: 56;
}
.top_02{
	width: 1000px; 
	height: 35px; 
	margin: auto; 
	padding-top: 5px;
}
.float_left{
 float: left;	
}
.float_right{
	float: right;
}
.nav_01{
	padding-top: 8px; float: right; height: 27px; width: 916px;
	
}
.nav_02{
	padding-top: 8px; float: right; height: 27px; width: 256px;
}
.menu_01{
	padding-left: 25px; padding-right: 24px; float: left;
}
.menu_02{
	padding-left: 49px; padding-right: 24px; float: left;
}
.banner01{
	width: auto; height:400px; top: 0px;
}
.banner02{
	width: 100%; height: 100%; margin-left: 0px auto; background: url("../images/banner.jpg") center no-repeat;
}
.locate{
	 padding-top: 30px; padding-bottom: 30PX;	
	}
	.top_03{
	 color: #AAAAAA; font-size: 14px; padding-right: 16px; padding-left: 16px;
	}
	.top_04{
	color: #AAAAAA; font-size: 14px; padding: 2px; margin-left: 16px;
	}
.top_05{
	width: 386px; hight:40px; float: right;
}
.top_05 li{
	float: right;
}
.top_05 img{
	float: right; margin-top: 8px;
}
.top_05 select{
	background: rgb(23, 32, 41); color: #AAAAAA; font-size: 14px; border: none;
}
	.box_01{
    width: 300px; height: 60px;
	}

.box_01 p{
	font-size: 24px; text-align: center; line-height: 50px;
}
	.box_02{
	width: 1000px; height: auto; margin: auto; clear: both;
	}
   .box_03 {
   width: 80px; height: 20px; background-image: url(../images/body01.png); float: right; line-height: 20px; margin-top: 9px; margin-right:20px;
   }
  .box_03 p{
	font-size: 12px; color: #ffffff; text-align: center;
}
  .box_04{
	hight: 300px; margin-top: 30px; margin-bottom: 30px; text-align: center;
}
  .box_05{
	width: 1000px; height:36px;
}
  .box_05 div{
	width: 126px; height: 36px; background-image: url(../images/body025.png); line-height: 38px; float: left; clear: both;
}
.box_06{
	width: 1002px; height: 280px; border: 2px solid #dedede; margin:20px 0px; clear: both
}
.box_06 table{
	width: 1000px; height: 246px; background-color: #DEDEDE;
}
.box_07{
	hight: 300px; margin-top: 30px; margin-bottom: 30px; text-align: center;
}
.box_07 li{
	width: 250px; float:left; padding: 0 15px 20px 0;
}
.box_07 a{
	text-decoration:none; color:#414141; font-size: 14px; 
}
.lanren{width: 1000px; hight: 300px; margin-top: 30px; margin-bottom: 30px; text-align: center;;}
.lanren dl{width:200px;height:260px;margin:5px 45px 0 0;overflow: hidden;float:left;position:relative;}
.lanren dl dd{display:none;cursor:pointer;}
.lanren dl dt{ padding-top: 200px;}
.lanren a{text-decoration:none; color:#414141; font-size: 14px; }
.lanren dl dt img{position:absolute;left:0;top:0;z-index:1;}
.lanren dl dd.hide{width:200px;height:185px;position:absolute;left:0;top:0;z-index:2;background:#000;opacity:0.5;filter:alpha(opacity=50);}
.lanren dl dd.wx img{position:absolute;left:35px;top:55px;z-index:3;}
.box_07 a:hover img{
	transform: scale(1.1); transition: 0.5s;
}
.box_08{
	height: 180px; padding-top: 25px;
}
.box_08 div{
	width: 600px; hight: auto; float: right; padding-left: 66px;
}
	.test_01{
    text-decoration:none; color:#414141; font-size: 14px;
	}
	.li_01 {
		height: 25px; margin-top: 20px; background-color: #dedede;
	}
	.li_02 {
		height: 25px; margin-top: 30px; background-color: #dedede;
	}
   .li_03{
	width: 250px; float:left; padding-right: 20px;
}
.t_01_w {
  position: absolute;
  left: 450px;
  margin-top: 370px;
  width: 1000px;
  height: 290px;
  z-index: 202;
}
.search{
	border-top-left-radius: 8px;border-bottom-left-radius: 8px;color: #ff1f5a;height: 24px;font-size: 12px;border: 0px;
}
.search01{
	border-top-right-radius: 8px;border-bottom-right-radius: 8px;padding: 3px;color: #ff1f5a;height: 24px;font-size: 12px; border: 0px;
}
.p_12{
		font-size: 12px; color: #666666; text-align: center; text-align: left;
	}
	.hr_01{
		height:1px; background-color: #d3d3d3; border: 0px solid #ff1f5a; *height: 1px; color: #ff1f5a; margin: 5px;
	}
	.footer_style{
		width: 100%; height: 300px; background-color: #3d3d3d; margin: auto; color: #999999; font-size: 14px;
	}
	.footer_style01{
		width: 100%; height: 25px; background-color: #3d3d3d; margin: auto; color: #999999; font-size: 14px;
	}
	.footer_style01 hr{
		height: 2px; background-color: #000000; border: none;
	}
	.footer_style01 p{
	font-size: 12px; text-align: center;	
	}
	.footer_box01{
	width: 410px;  height: 280px; float: left; padding: 20px 120px 0px 0px;	
	}
	.footer_box02{
	width: 260px; height: 280px; float: left; padding-top: 20px; line-height: 25px;	
	}
	.footer_box03{
	width: 330px; height: 280px; float: right; padding-top: 20px; line-height: 25px;
	}
/* 排行榜*/

/* artist*/

 /*= Reset CSS 
============= */
.container{margin: 0 auto; max-width: 1000px;height: 340px; }
*{margin: 0; padding: 0; box-sizing: border-box;}
img{max-width: 100%; vertical-align: middle;}
.full-length{width: 100%; float: left; padding-bottom: 20px; }
.lanren ul{margin: 0 -1.5%;}
.lanren li{float: left; width: 31.33%; margin: 10px 1%; list-style: none;}
p{font-weight: 300; line-height: 20px; font-size: 12px; margin-bottom: 10px;}
.btn{display: inline-block; padding: 5px 10px; font-size: 14px; color: #fff; border: 2px solid #4d92d9; background-color: #4d92d9; text-decoration: none; transition: 0.4s;}
.btn:hover{background-color: transparent; color: #4d92d9; transition: 0.4s;}
.text-desc{position: absolute; left: 0; top: 0; background-color: #fff; height: 100%; opacity: 0; width: 100%; padding: 20px;}
.image-box {
	padding-top: 20px; transition: 0.4s;
}
/*= Reset CSS End
================= *

/* effect-1 css */
.port-1{float: left; width: 100%; position: relative; overflow: hidden; text-align: center; border: 4px solid rgba(255, 255, 255, 0.9);}
.port-1 .text-desc{opacity: 0.9; top: -100%; transition: 0.5s; color: #000; padding: 45px 20px 20px;}
.port-1 img{transition: 0.5s;}
.port-1:hover img{transform: scale(1.2);}

.port-1.effect-1:hover .text-desc{top: 0;}

.port-1.effect-2 .text-desc{top: auto; bottom: -100%;}
.port-1.effect-2:hover .text-desc{bottom: 0;}

.port-1.effect-3 .text-desc{top: 50%; left: 50%; width: 0; height: 0; overflow: hidden; padding: 0;}
.port-1.effect-3:hover .text-desc{width: 100%; top: 0; left: 0; height: 100%; padding: 45px 20px 20px;}
/* effect-1 css end */


